---
---
<!DOCTYPE html>
<!-- if lt IE 7<html class="no-js lt-ie9 lt-ie8 lt-ie7">
-->
<!-- if IE 7<html class="no-js lt-ie9 lt-ie8">
-->
<!-- if IE 8<html class="no-js lt-ie9">
-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="all">

    <title>FOSSASIA Google Code-In 2014/15</title>

</head>
    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17146009-5', 'auto');
      ga('send', 'pageview');
    </script>
<body>
<section id="home">
<!-- Facebook initialize -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1505876126310823&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="page-wrap">
  <header class="masthead masthead--plain">
        <div class="wrap">
            <div class="masthead-cont">
                <div class="logo">
                    <a href="#home"><img src="images/fossasia-dark.png" alt="FOSSASIA"></a>
                </div>
                <div class="menu__toggle"><span class="menu-icon"></span></div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="http://blog.fossasia.org/">Blog</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#cmap">Map</a></li>
                            <li><a href="#mentors">Mentors</a></li>
                            <li><a href="#students">Students</a></li>
                            <li><a href="#contributors">Contributors</a></li>
                            <li class="menu__low-prio-1"><a href="#social">Social</a></li>
                        </ul>
                    </nav>
                    <div class="menu__social">
                        <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Ffossasia&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=139059259570625" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px; width:90px; margin-top:22px;" allowTransparency="true" class="socialbtn"></iframe>

                        <div id="twitter-holder" style="width:80px; display:inline-block; top:-15px; position:relative;"><a href="https://twitter.com/fossasia" class="twitter-follow-button socialbtn" data-show-count="false" data-show-screen-name="false">Follow @fossasia</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </section>
  <div class="page-content">

    <section class="banner">
        <ul>
            <li id="bannerimg1" class="bannerimg bannerimg1">
                <div class="inner" bgcolor="white">
                    <h1 id="main-head">
                        <span class="highlight">FOSSASIA</span>
                    </h1>
                    <p><span class="highlight">Developing the free and open-source tech community in Asia since 2009</span></p>

                    <a class="btn" href="http://fossasia.org">Home Page</a>
                </div>
            </li>

            <li id="bannerimg2" class="bannerimg bannerimg2">
                <div class="inner">
                    <h1><span class="highlight">Participating in Google Code-In 2014</span></h1>
                    <p><span class="highlight">Inspiring and helping youngsters develop their abilities in Computer Science.</span></p>
                    <a href="http://www.google-melange.com/gci/org/google/gci2014/fossasia" class="btn">Code-In Home</a>
                </div>
            </li>

            <li id="bannerimg3" class="bannerimg bannerimg3">
                <div class="inner">
                    <h1><span class="highlight">FOSSASIA 2011</span></h1>
                    <p><span class="highlight">Ho Chi Minh City on November 11–12, 2011</span></p>
                    <a href="http://2011.fossasia.org/" class="btn">FOSSASIA 2011 Home</a>
                </div>
            </li>

            <li id="bannerimg4" class="bannerimg bannerimg4">
                <div class="inner">
                    <h1><span class="highlight">FOSSASIA 2014</span></h1>
                    <p><span class="highlight">Phnom Penh Cambodia</span></p>
                    <a href="http://2014.fossasia.org/" class="btn">FOSSASIA 2014 Home</a>
                </div>
            </li>
        </ul>
    </section>

    <section id="map">
        <div class="map-wrap"></div>
        <iframe src="map/map.html" class="map" name="myiframe" scrolling="auto" frameborder="1" align=aus marginheight="0px" marginwidth="0px" height="800" width=100% ></iframe>
     </div>
    </section>

    <section id="about" class="page-section section-bg section-bg--3">
        <div class="wrap">
            <h1 class="section__title">About</h1>
            <div>
                <p>FOSSASIA is the top Free and Open Source technology event in Asia for developers, start-ups, and contributors. Projects at FOSSASIA range from open hardware, to design, graphics and software. FOSSASIA was established in 2009. Previous events took place in Cambodia and Vietnam.</p>
            </div>
        </div>
    </section>


    <section id="mentors" class="page-section">
        <div class="wrap">
            <div class="stack stack-clean">
                {% for mentor in site.data.mentors %}
                <div class="sympl onethird m-half">
                    {% assign rand = mentor.name.size | divided_by: 5 %}
                    <div class="box-team wow tada" data-wow-delay="0.{{ rand }}s">
                        <section class="person person--mentor">
                            <div class="person__img">
                                {% if mentor.social %}
                                <div class="person__img__info">
                                    <div class="person__img__info__cont">
                                        {% for social in mentor.social %}
                                            {% case social[0] %}
                                            {% when 'facebook' %}
                                                {% assign socialPrefix = 'http://facebook.com/' %}
                                            {% when 'twitter' %}
                                                {% assign socialPrefix = 'http://twitter.com/' %}
                                            {% when 'github' %}
                                                {% assign socialPrefix = 'http://github.com/' %}
                                            {% when 'facebook' %}
                                                {% assign socialPrefix = 'http://facebook.com/' %}
                                            {% when 'mail' %}
                                                {% assign socialPrefix = 'mailto:' %}
                                            {% when 'gplus' %}
                                                {% assign socialPrefix = 'https://plus.google.com/u/0/' %}
                                            {% else %}
                                                {% assign socialPrefix = '' %}
                                            {% endcase %}
                                            <a href="{{ socialPrefix }}{{ social[1] }}" target="_blank"><i class="icon-{{ social[0] }}"></i></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                {% if mentor.imgName == null %}
                                    {% assign imgName = "mentor.png" %}
                                {% else %}
                                    {% assign imgName = mentor.imgName %}
                                {% endif %}
                                <img src="images/mentors/{{ imgName }}">
                            </div>
                            <h1 class="person__name">{{ mentor.name }}</h1>
                        </section>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="students" class="page-section">
        <div class="wrap">
            <h1 class="section__title">Students</h1>
            <div class="stack stack-clean">
                {% for student in site.data.students %}
                <div class="sympl onethird m-half">
                    {% assign rand = student.name.size | divided_by: 4 %}
                    <div class="box-team wow bounceInDown" data-wow-delay="0.{{ rand }}s">
                        <section class="person person--student">
                            <div class="person__img">
                                {% if student.social %}
                                <div class="person__img__info">
                                    <div class="person__img__info__cont">
                                        {% for social in student.social %}
                                            {% case social[0] %}
                                            {% when 'facebook' %}
                                                {% assign socialPrefix = 'http://facebook.com/' %}
                                            {% when 'twitter' %}
                                                {% assign socialPrefix = 'http://twitter.com/' %}
                                            {% when 'github' %}
                                                {% assign socialPrefix = 'http://github.com/' %}
                                            {% when 'facebook' %}
                                                {% assign socialPrefix = 'http://facebook.com/' %}
                                            {% when 'mail' %}
                                                {% assign socialPrefix = 'mailto:' %}
                                            {% when 'gplus' %}
                                                {% assign socialPrefix = 'https://plus.google.com/u/0/+' %}
                                            {% else %}
                                                {% assign socialPrefix = '' %}
                                            {% endcase %}
                                            <a href="{{ socialPrefix}}{{ social[1] }}" target="_blank"><i class="icon-{{ social[0] }}"></i></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <img src="images/students/{{ student.imgName }}">
                            </div>
                            <h1 class="person__name">{{ student.name }}</h1>
                        </section>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    </section>

    <section id="thank_you" class="page-section section-bg section-bg--4">
        <div id="slide3">
            <div class="wrap">
                 <div class="box-team wow pulse" data-wow-delay="0.1s"><h1 class="section__title">  Thank you for contributing!</h1></div>
                 <div class="box-team wow pulse" data-wow-delay="0.5s"><h1 class="section__title">  Спасибо за вклад!</h2></div>
                 <div class="box-team wow pulse" data-wow-delay="0.1s"><h1 class="section__title">  Благодаря за приноса Ви!</h2></div>
                 <div class="box-team wow pulse" data-wow-delay="0.9s"><h1 class="section__title">  දායකවූවාට ස්තුතියි!</h2></div>
                 <div class="box-team wow pulse" data-wow-delay="0.13s"><h1 class="section__title"> ပူးေပါင္းကူညီမႈအတြက္ ေက်းဇူးတင္ပါသည္။ </h2></div>
                 <div class="box-team wow pulse" data-wow-delay="0.13s"><h1 class="section__title">   योगदान के लिए धन्यवाद! </h2></div>
              </div>
        </div>
    </section>

    <section id="contributors" class="page-section">
      <h1 class="section__title">Contributors</h1>
         <div class="stack stack-clean">
            <div id="contr"></div>
         </div>
         <!--</div>-->
        <!--</div>-->
    </section>


    <section id="social" class="page-section section-bg section-bg--5">
        <h1 class="section__title">Photo Stream</h1>
        <object id="photostream" width="900" height="680"><param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Ffossasia%2Fshow%2F&page_show_back_url=%2Fphotos%2Ffossasia%2F&user_id=45240298@N08&jump_to="></param> <param name="movie" value="https://www.flickr.com/apps/slideshow/show.swf?v=1811922554"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=1811922554" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Ffossasia%2Fshow%2F&page_show_back_url=%2Fphotos%2Ffossasia%2F&user_id=45240298@N08&jump_to=" width="900" height="680"></embed></object>
    </section>

    <div id="tweet_feed" class="page-section section-bg section-bg--7">
        <div class="wrap" align="center" id="tweet_feed_wrap">
            <h1 class="section__title">Twitter</h1>
            <div class="tweets-feed" data-widget-id="524701520395137024">
        </div>
    </div>
    </div>


  <section id="facebook" class="page-section section-bg section-bg--6">
    <div class="wrap" align="center">
        <h1 class="section__title">Facebook</h1>
          <iframe class="facebook-iframe" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffossasia&amp;width=800&amp;height=900&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=true&amp;appId=1505876126310823" scrolling="no" frameborder="0" allowTransparency="false"></iframe>
    </div>
  </section>


    <div id="email"  class="page-section section-bg section-bg--8">
        <div id="mc_embed_signup">
            <form onsubmit="return !jQuery('.email').hasClass('email-error');" action="http://fossasia.us9.list-manage.com/subscribe/post?u=d5cf526b4ceea238da3512fb3&amp;id=2be821d83b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Why not subscribe?</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" spellcheck="false" placeholder="fossasia@example.com" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d5cf526b4ceea238da3512fb3_2be821d83b" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
    </div>

   <section id="footer" class="footer">
        <div class="wrap">
            <div class="stack sympl-stack">
                <div class="sympl twofifths m-full">
                    <h3>Social Media</h3>
                    <ul class="social">
                        <a href="https://www.facebook.com/fossasia"><li class="facebook"></li></a>
                        <a href="http://twitter.com/fossasia"><li class="twitter"></li></a>
                        <a href="https://plus.google.com/108920596016838318216"><li class="googleplus"></li></a>
                        <a href="https://www.linkedin.com/groups/FOSSASIA-3762811"><li class="linkedin"></li></a>
                        <a href="https://www.flickr.com/photos/fossasia/"><li class="flickr"></li></a>
                        <a href="https://github.com/fossasia"><li class="github"></li></a>
                        <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ"><li class="youtube"></li></a>
                        <a href="https://en.wikipedia.org/wiki/FOSSASIA"><li class="wiki"></li></a>
                    </ul>
                </div>
                <div class="sympl twofifths m-full">
                    <h3>FOSSASIA Links</h3>
                    <ul class="list">
                        <a href="http://blog.fossasia.org/"><li class="link">FOSSASIA Blog</li></a>
                        <a href="http://fossasia.net/"><li class="link">FOSSASIA Community Network</li></a>
                        <a href="http://blog.fossasia.org/code-conduct"><li class="link">Code of Conduct</li></a>
                        <a href="http://fossasia.org/"><li class="link">FOSSASIA Summit</li></a>
                    </ul>
                </div>
                <div class="sympl onefifth m-full">
                    <h3>Events</h3>
                    <ul class="list">
                        <a href="http://2015.fossasia.org/"><li class="event">FOSSASIA '15</li></a>
                        <a href="http://2014.fossasia.org/"><li class="event">FOSSASIA '14</li></a>
                        <a href="http://opendesign.asia/"><li class="event">FOSSASIA '12</li></a>
                        <a href="http://2011.fossasia.org/"><li class="event">FOSSASIA '11</li></a>
                        <a href="http://2010.fossasia.org/"><li class="event">FOSSASIA '10</li></a>
                    </ul>
                </div>
            </div>
     </section>

     <footer class="colophon">
            <p>Made with <span class="heart">♥</span> for <a style="color:inherit;" href="http://www.google-melange.com/gci/homepage/google/gci2014">Code-In</a> &nbsp;&bull;&nbsp; <a href="https://github.com/fossasia/fossasia.github.io">Fork On Github</a>
            </p>
            </div>
          </div>
    </footer>

    <!-- js -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script type="text/javascript" src="javascripts/jquery.event.move.js"></script>
    <script type="text/javascript" src="javascripts/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="javascripts/unslider.min.js"></script>
    <script type="text/javascript" src="javascripts/twitter.fetcher.js"></script>
    <script type="text/javascript" src="javascripts/wow.min.js"></script>
    <!-- Twitter js -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script src="javascripts/main.js"></script>


</body>
</html>
