/* ==========================================================================

    LET'S GET STARTED!

    ========================================================================== */
/* ==========================================================================
   =CORE
   ========================================================================== */
   
.section__overlay {
    background: rgba(0, 0, 0, .1);
    background: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-section {
    padding: 4em 0 3em;
    overflow: hidden;
}
.page-section:nth-child(odd) {
    background: #f6f6f6;
    text-align: center;
}
.section__title {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0 0 .5em;
}
.section__content {
    position: relative;
    z-index: 2;
}
img {
    max-width: 100%;
}
.wrap {
    width: 60em;
    margin: 0 auto;
    max-width: 90%;
}

/* ==========================================================================
   =MASTHEAD
   ========================================================================== */
.masthead {
    overflow: hidden;
    position: fixed;
    background: rgba(255, 255, 255, .6);
    z-index: 999999;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    
    height: 3.25em;
}
.masthead:hover {
    background: rgba(255, 255, 255, .9);
}
.masthead-cont {
    font-size: .8em;
    overflow: hidden;
}
.masthead .logo {
    height: 1.5em;
    float: left;
    padding: 1.25em 0;
    text-align: center;
}
.masthead .logo img {
    max-height: 100%;
}

.masthead .logo--light { display: none; }

  /* Masthead Alt Style */

.masthead--plain, .masthead--plain:hover {
    background: rgba(0, 0, 0, .2);
}

.masthead--plain .menu a {
    color: white;
}

.masthead--plain .menu a:hover {
    background: rgba(0, 0, 0, .2);
}

.masthead--plain .dropdown {
    background: rgba(64, 64, 64, .2);
}

.masthead--plain .menu__toggle {
    color: white;
}

.masthead--plain .logo--dark { display: none; }
.masthead--plain .logo--light { display: block; }

.masthead--plain .menu-icon { border-color: rgba(255, 255, 255, .8); }

.masthead .menu {
    float: right;
}
.menu__toggle { display: none; }
.menu nav {
    overflow: hidden;
    float: left;
}
.menu__social {
    float: right; 
}
.menu ul {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.menu li {
    list-style: none;
    display: block;
    float: left;
    text-align: center;
}
.menu nav a {
    display: block;
    padding: 1.5em;
    line-height: 1;
    color: #444;
}
.menu nav a:hover {
    background: #fff;
    text-decoration: none;
}

.bannerimg1 {
    background-image: url('../images/IMG1.jpg');
}
.bannerimg2 {
    background-image: url('../images/IMG2.jpg');
}
.bannerimg3 {
    background-image: url('../images/IMG3.jpg');
}
.bannerimg4 {
    background-image: url('../images/IMG4.jpg');
}

.socialbtn {
    margin-left: 15px;
}
.twitter-follow-button {
    margin-top: 1.4em;
    padding: 0;
}

/* Dropdown */
.menu__toggle { 
    cursor: pointer;
    color: #444;
    padding: 1.5em;
    float: right;
    line-height: 1;
}
.menu__toggle .menu-icon {
    margin-top: -1px;
}
.menu-icon {
    border-bottom: 11px double #444;
    border-top: 4px solid #444;
    height: 18px;
    width: 30px;
    display: block;
}
.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
    text-align: center;
    background: rgba(255, 255, 255, .8);
}
.dropdown nav {
    width: 100%;
}
.dropdown.menu nav a {
    padding: 1.5em;
}
.dropdown.menu li, .dropdown .menu__social {
    width: 100%;
    display: block;
}


/* Hero
========================================================================== */
.section--hero.section--hero {
    background: url('../images/HongPhucDang.jpg');
    background-position: center center;
    background-size: cover;
    top: 2.5em;
}
.section--hero {
    padding: 9em 0 12em;
    position: relative;
}
.section--hero h1 {
    width: 8em;
    max-width: 95%;
    margin: 0 auto;
}
.section--hero h1 > span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.section--hero .subtitle {
    text-align: center;
    color: rgba(255, 255, 255, .9);
    font-size: 1.125em;
    font-weight: 300;
}
/* Person
========================================================================== */
.person {
    padding: 1em;
    text-align: center;
}
.person__img {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
}

.person__img__info {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    height: 100%;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.person__img:hover .person__img__info {
    opacity: 1;
    -webkit-transform:  scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.person__img__info__cont {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.person__img__info a {
    color: white;
    font-size: 1.125em;
    padding: .5em;
}
.person__img img {
    border-radius: 50%;
    display: block;
    width: 100%;
    min-width: 120px;
}
.person__name {
    font-size: 1.5em;
    height: 1.5em;
}



.person--contributer h1 {
    font-size: 1.25em;
}



/* ==========================================================================
   SECTIONS
   ========================================================================== */

#mentors { background: rgb(230, 82, 61); }
#students { background: rgb(180, 214, 244); }
#contributors { background: rgb(255, 231, 102); }


/* ==========================================================================
   SUBSCRIBE EMAIL
   ========================================================================== */

input {
    padding: .75em;
    border: none;
    border-radius: 2px;
    transition: all .3s ease;
    font-size: .8em;
    margin: 1em;
}

input:focus {
    outline: none;
    background: #eee;
}

#mc_embed_signup {
    padding-bottom: 1em;
    clear: left;
}
#mc_embed_signup_scroll {
    text-align: center;
}

#mc_embed_signup_scroll input#mc-embedded-subscribe {
    padding: 1em;
    color: white;
    background-color: #e12b00;
    font-size: .8em;
}
#mc_embed_signup_scroll label { 
    display: block;
    font-size: 2em !important;
    margin: 0 auto;
    color: #fff; 
    font-weight: 300;
}
.email-error {
    border: 1.5px solid #c00000;
}
 /* ==========================================================================
   =FOOTER
   ========================================================================== */
.colophon {
    background: aliceblue;
    font-size: .75em;
    padding: 2em 0;
    text-align: center;
    margin-top: 3em;
}

.heart {
    color: hotpink;
}
.box .box_title {
    font-weight: bold;
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    padding: 0 0 15px;
}

.social li {
    list-style: none;
    padding: 0 5px;
}

.list .link {
    list-style-image: url('../images/list/list_style_link.png');
}

.list .event {
    list-style-image: url('../images/list/list_style_event.png');
}

.social .facebook {
    background: url('../images/list/facebook.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .twitter {
    background: url('../images/list/twitter.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .googleplus {
    background: url('../images/list/googleplus.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .flickr {
    background: url('../images/list/flickr.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .github {
    background: url('../images/list/github.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .linkedin {
    background: url('../images/list/linkedin.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.social .youtube {
  background: url(../images/list/youtube.png) no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.social .wiki {
  background: url(../images/list/wiki.png) no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.footer {
    padding-top: 2em;
}

.footer ul {
    padding-left: 1.5em;
}

/* ==========================================================================
   =MEDIA
   ========================================================================== */

@media (max-width: 81em) {
    .menu a {
        padding: 1.5em 1em;
    }
}

@media (max-width: 72.5em) {
    .menu .menu__low-prio-1 {
        display: none;
    }
}

@media (max-width: 66em) {
    .menu {
        display: none;
    }

    .menu__toggle {
        display: block;
    }

    .masthead, .masthead-cont, .menu nav {
        overflow: visible;
    }
}

@media (max-width: 60em) {
    .masthead {
        position: relative;
        background: #f6f6f6;
    }

    .masthead .menu__toggle .menu-icon {
        border-color: #444;
    }

    .masthead:hover {
        background: #f6f6f6;
    }

    .masthead .dropdown {
        background: rgba(#f6f6f6, .8);
    }

    .masthead .menu a {
        color: #444;
    }

    #map iframe {
        height: 300px;
    }

    .animated {
        -webkit-animation-name: none;
        animation-name: none;
    }
}

@media (max-width: 45em) {
    body,
    input,
    textarea,
    button,
    form,
    select {
        font-size: 112.5%;
    }
}

@media (max-width: 37.5em) {
    .person__img {
        border-radius: 0;
        overflow: visible;
        height: auto;
        padding: 0;
    }

    .person__img img {
        margin-bottom: 2.25em;
    }

    .person__img__info {
        position: absolute;
        bottom: -3em;
        color: white;
        opacity: 1;
        border-radius: 0;
        transform: scale(1);
        padding: 0;
        height: auto;
        overflow: hidden;
        font-size: .8em;
        background: rgba(0, 0, 0, .1);
        display: inline-block;
        padding: 0;
    }

    .person__img__info__cont {
        position: static;
        transform: none;
    }

    .person__img__info a {
        padding: .375em;
        display: inline-block;
    }

    .person__name {
        font-size: 1.25em;
    }

    #contributors .person__img__info {
        width: 3em;
        min-width: 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 50em) {
    .bannerimg1 {
        background-image: url('../images/IMG1_m.jpg');
    }
    .bannerimg2 {
        background-image: url('../images/IMG2_m.jpg');
    }
    .bannerimg3 {
        background-image: url('../images/IMG3_m.jpg');
    }
    .bannerimg4 {
        background-image: url('../images/IMG4_m.jpg');
    }
}
@media only screen and (max-width: 40em) {
    .bannerimg1 {
        background-image: url('../images/IMG1_s.jpg');
    }
    .bannerimg2 {
        background-image: url('../images/IMG2_s.jpg');
    }
    .bannerimg3 {
        background-image: url('../images/IMG3_s.jpg');
    }
    .bannerimg4 {
        background-image: url('../images/IMG4_s.jpg');
    }
}
@media only screen and (max-width: 30em) {
    .bannerimg1 {
        background-image: url('../images/IMG1_xs.jpg');
    }
    .bannerimg2 {
        background-image: url('../images/IMG2_xs.jpg');
    }
    .bannerimg3 {
        background-image: url('../images/IMG3_xs.jpg');
    }
    .bannerimg4 {
        background-image: url('../images/IMG4_xs.jpg');
    }
}


/* ==========================================================================
   =MISC
   ========================================================================== */

#tweet_feed {
    padding-bottom: 5.5em;
}

.tweets-feed {
    font-size: 1.5em;
    padding-bottom: 6em;
    color: white;
    width: 1400px;
}

@media (max-width: 1600px) {
    .tweets-feed {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .tweets-feed {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .tweets-feed {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .tweets-feed {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .tweets-feed {
        width: 480px;
    }
}

@media (max-width: 500px) {
    .tweets-feed {
        width: 380px;
    }
}

@media (max-width: 400px) {
    .tweets-feed {
        width: 300px;
    }
}

#tweet_feed_wrap {
    width: initial;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    #tweet_feed_wrap {
        margin-left: 2%;
        margin-right: 2%;
    }
}
.timePosted {
    font-size: 80%;
}

.tweet a {
    color: #ff3100;
}

.tweet a:hover {
    color: #e52200;
}
.tweets-feed .slides li {
    list-style-type: none;
}

.follow {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 65%;
    margin-top: 1em;
}

.follow a {
    color: #ff3f01;
    text-decoration: underline;
}

.map-wrap {
    width: 100%;
    height: 900px;
    z-index: 20;
    position: absolute;
}

.map {
    display: block;
    z-index: 10;
    border: none;
}

table {
    width: 100%;
    table-layout: fixed;
}

/* Slides */

.section-bg.section-bg {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-bg.section-bg--1 { background-image: url('../images/bg/slide1.jpg'); }
.section-bg.section-bg--2 { background-image: url('../images/bg/slide2.jpg'); }
.section-bg.section-bg--3 { background-image: url('../images/bg/slide3.jpg'); }
.section-bg.section-bg--4 { background-image: url('../images/bg/slide4.jpg'); }
.section-bg.section-bg--5 { background-image: url('../images/bg/slide5.jpg'); }
.section-bg.section-bg--6 { background-image: url('../images/bg/slide6.jpg'); }
.section-bg.section-bg--7 { background-image: url('../images/bg/slide7.jpg'); }
.section-bg.section-bg--8 { background-image: url('../images/bg/slide8.jpg'); }


#photostream {
    width: 60em;
    margin: 0 auto;
    max-width: 90%;
    display: block;
    text-align: center;
}

/* FB */

.facebook-iframe {
    border: none;
    overflow: hidden;
    width: 95%;
    height: 700px;
    display: inline-block;
    background: white;
}